@using GridMvc.Html
@model IEnumerable<TabloCalısma.Models.Grid_Tables>
@{
    ViewBag.Title = "Ara";
}

<h2>Ara</h2>


<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<div class="code-cut">
    @Html.Grid(Model).Columns(Columns =>
    {
 
            Columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(30)
            .RenderValueAs(o => @<button type="submit">Kaydet</button>);

                Columns.Add()
                    .Encoded(false)
                    .Sanitized(false)
                    .SetWidth(30)
                    .Titled("Check")
                    .RenderValueAs(o => Html.CheckBox("checked", false));

                Columns.Add(c => c.EmpNo).Titled("Kayıt No").Filterable(true);
                Columns.Add(c => c.EName).Titled("Name").Filterable(true);
                Columns.Add(c => c.Job).Titled("Departman").Filterable(true);
                Columns.Add(c => c.HireDate).Titled("işe giriş tarihi").Filterable(true).Format("{0:dd/MM/yyyy}");
                Columns.Add(c => c.Sal).Titled("Maaş").Filterable(true).Format("{0:C}");
                Columns.Add(c => c.Comm).Titled("Prim").Filterable(true).Format("{0:C}");




            }).WithPaging(50).Sortable(true)

</div>

